.banner {
  position: relative;
  background: url("https://images.pexels.com/photos/3607542/pexels-photo-3607542.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    center center;
}

.banner__info {
  font-size: x-large;
  padding: 120px 0;
  margin: auto;
  text-align: center;
  color: var(--clr-main2);
  width: 600px;
}

.banner__search {
  display: flex;
  flex-direction: column;
}

.banner__search > button {
  background-color: var(--clr-main2);
  font-weight: 900;
  text-transform: inherit;
  color: var(--clr-main1);
}

.banner__search > button:hover {
  background-color: var(--clr-main3);
  color: var(--clr-main2);
}

.banner__info > button {
  background-color: var(--clr-main2);
  color: var(--clr-main1);
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}

.banner__info > button:hover {
  background-color: var(--clr-main3);
  color: var(--clr-main2);
}

.banner__info > h5 {
  margin-top: 10px;
}
