.footer {
  border-top: 1px solid lightgray;
  padding: 20px;
  background-color: var(--clr-main1);
  text-align: center;
  color: var(--clr-main2);
}

.footer > p {
  padding: 5px;
  font-size: 14px;
}
